/Library/
/Temp/
/Logs/
/UserSettings/
/Obj/
/Build/
/Builds/
/.vs/
/.idea/
/.vscode/
/.gradle/
/.android/
/MemoryCaptures/
/Recordings/
/.utmp/
/TestResults/
/*.log
/*results.xml
/*TestResults.xml
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
!Backend/**/*.csproj
Tools/Verification/*.exe
*TestResults.xml
TestResults.xml
**/bin/
**/obj/
*.db
*.db-shm
*.db-wal
Backend/.packages/
sysinfo.txt
crashlytics-build.properties
