/Library/
/Temp/
/Logs/
/UserSettings/
/Obj/
/Build/
/.utmp/
/TestResults/
/*.log
/*results.xml
/*TestResults.xml
*.csproj
*.sln
*.user
Tools/Verification/*.exe
*TestResults.xml
TestResults.xml
**/bin/
**/obj/
*.db
*.db-shm
*.db-wal
Backend/.packages/
